* {
    box-sizing: border-box;
    margin: 0;
    color: #C1CAD6;
    text-align: center;
    
}
 main {
    background-color: 12355b;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
} 
h2 {
    padding: 1rem;
    font-size: 2rem;    
}

p {
    font-size: 0.7rem;
} 

h3 {
    font-size: 1rem;
    font-weight: bold;
}

.beneficios {
   
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 0.5rem;
}

.beneficios img {
    margin-top: 0.5rem; 
    width: 30%;
  }
 
.beneficio1 {
    width: 50%;

  }

.beneficio2 {
    width: 50%;
}

.beneficio3 {
    width: 50%;
} 

section {
    background-color: #37000A;
    width: 100%;
    height: 100vh;
}


.trabajo {
   
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
    align-items: center;
  
}

.trabajo img {
    margin-top: 0.5rem;  
    width: 25%; 
 }

.trabajo1 {
    width: 50%;
    height: 20%;
  }
  .trabajo2 {
    width: 50%;
    height: 20%;
  }
  .trabajo3 {
    width: 50%;
    height: 20%;
  }
  .trabajo4 {
    width: 50%;
    height: 20%;
  }

 @media (max-widht: 1440px) and (min-widht: 1024px) {
    p {
        font-size: 2rem;
    }
        
    }
}